<div class="input-group mb-1" style="width: 300px; margin-left: 600px;">
    <input type="text" class="form-control" placeholder="Enter Playlist Name" aria-label="Recipient's username" aria-describedby="button-addon2" id="playlist_name">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="AddPlaylist()">Add Playlist</button>
    </div>
  </div>

  <table class="table table-dark" style="width: 500px; margin-left: 500px;" *ngIf="status">
    <thead>
      <tr>
        <th scope="col">PlayList</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let column of playlist|paginate: {itemsPerPage: 10,
      currentPage: page}; let i=index;">
        <td>{{column.playlistName}}</td>
        <td><button type="button" class="btn btn-primary" (click)="ShowSongs(column.playlistId)">Songs</button></td>
      </tr>
      
    </tbody>
    <!--<pagination-controls (pageChange)="pageChanged($event)" ></pagination-controls>-->
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </table>


    <table class="table table-dark" style="width: 500px; margin-left: 500px;" *ngIf="!status">
        <thead>
          <tr>
            <th scope="col">Songs List</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let column of playlistSongs.song | paginate: config; ">
            
            <td (click)="playsong(column.songName)" >{{column.songName}}</td>
            <td><button class="btn btn-outline-secondary" type="button"  (click)="RemoveFromPlaylist(column.songName)">Remove from Playlist</button></td>
          </tr>
          
        </tbody>
        <pagination-controls (pageChange)="pageChanged($event)" ></pagination-controls>
      </table>
      
      <button type="button" class="btn btn-primary" (click)="togglestatus()">Back</button>