<div style="margin-bottom: 10px;">
<button type="button" class="btn btn-primary" routerLink="update">
  Welcome, <span class="badge badge-light">{{userName}}</span>
  <span class="sr-only">unread messages</span>
</button>
</div>

  <div class="input-group mb-1" style="width: 300px; ">
    
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" routerLink="searchsongs"> Search Songs</button>
    </div>
  </div>
  
  
  
  <div class="btn-group-vertical" style="width: 100px; float: left;">
    <button type="button" class="btn btn-dark" routerLink="songs">Song List</button>
    <button type="button" class="btn btn-dark" routerLink="playlist">PlayList</button>
    <button type="button" class="btn btn-dark" routerLink="album">Album</button>
    <button type="button" class="btn btn-dark" routerLink="artist">Artist</button>
  </div>
  
  
  <router-outlet></router-outlet>

  <div>
    <audio controls  id="audio_button2" style="width: 1000px; margin-left: 225px;">
      <source  type="audio/mpeg">
    </audio>
    </div>
  
  
  